
.html, body {
    background-color: #EBEBEB; 
    /* background-color: #39EAAA; */
}

/*********/
/* fonts */
/*********/

/* simpler pro */
@font-face {
    font-family: 'SimplerPro-black-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-BlackItalic.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-bold';
    src: url("assets/fonts/SimplerPro/SimplerPro-Bold.woff2") format("woff2");    
}

@font-face {
    font-family: 'SimplerPro-regular';
    src: url("assets/fonts/SimplerPro/SimplerPro-Regular.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-regular-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-RegularItalic.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-semi-bold';
    src: url("assets/fonts/SimplerPro/SimplerPro-Semibold.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-light-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-LightItalic.woff2") format("woff2");  
}

@font-face {
    font-family: 'SimplerPro-light';
    src: url("assets/fonts/SimplerPro/SimplerPro-Light.woff2") format("woff2");  
}


/* frankG */
@font-face {
    font-family: 'Frankg-regular';
    src: url("assets/fonts/FrankG/FrankG-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: 'Frankg-bold';
    src: url("assets/fonts/FrankG/FrankG-Bold.woff2") format("woff2"); 
}

@font-face {
    font-family: 'Frankg-black';
    src: url("assets/fonts/FrankG/FrankG-Black.woff2") format("woff2"); 
}

/************/
/* side bar */
/************/

.sidebar_container {
    position: fixed;
    width: 230px; 
    min-width: 150px; 
    padding: 10px;
    top: 0;
    z-index: 5;
}

.logo {
    margin-top: 5px;
    width: 100px; 
    background-color: #EBEBEB; 
}

.open {
    background-color: #EBEBEB; 
    width: 40px; 
    margin-right: 55px;
}

.menu_link_list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.menu_link {
    padding-right: 0;

    /* general text thing */
    color: black;
    text-decoration: none;

    /* text style */
    font-family: 'SimplerPro-regular';
    font-size: 18px;
    line-height: 1.7;
}

.plus{
    margin-right: 22px;
}

.open_main_sidebar{
    font-family: 'Frankg-regular';
    font-size: 40px;
    text-decoration: none;
    color: black;
    line-height: 20px;
}

.open_main_sidebar:hover {
    text-decoration: underline; /* Underline on hover */
}

.menu_link:hover {
    text-decoration: underline;
}


.extra_content, .nested_content {
    display: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.nested_content {
    margin-right: 20px;
    margin-bottom: 5px;
}

.nested_content li {
    margin-bottom: 5px;
    margin-top: 5px;
}


.click_logo_container{
    width: 0px;
    display: none;
}

/**************/
/* bg (title) */
/**************/

.headline_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%; /* Occupy full width of the viewport */
    max-width: 1200px; /* Limit maximum width to 1000px */
    min-width: 600px; /* Set a minimum width */
    padding: 20px;
    z-index: 2;
}

.main_auther {
    align-self: flex-end;

    width: 250px; 
    padding: 20px;
    left: 0;
}

.main_auther_column {
    width: 250px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: right
}

.column {
    flex: 1 1 45%;
    box-sizing: border-box;
}

.column_right {
    flex: 1 1 25%;  
}

.auther_headline{
    /* text style */

    font-family: 'SimplerPro-semi-bold';
    font-size: 25px;
    line-height: 1;

    margin: 0px;
}

.auther_text{
    /* text style */
    font-family: 'SimplerPro-light-italic';
    font-size: 15px;
    line-height: 1.2;

    margin-top: 5px;
    margin-bottom: 0px;
}

.headline_container h1 {
    font-family: 'Frankg-regular';
    font-size: 7.5vw; /* Responsive font size based on viewport width */
    text-align: left;
    font-weight: 100;
    line-height: 0.9;
    margin-bottom: 0;
    margin-top: 0;
}

/********************/
/* list page kind_1 */
/********************/

.main_list_1{
    position: relative;
    width: 100% -250px; 
    margin-right: 250px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 50px;
}

/**** #1 ****/

.border_conteiner_1{
    border-right: 8px solid #d4ef89; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_1:hover{
    background-color: #d4ef89;
}
a.border_conteiner_1:hover {
    color: inherit; 
}
a.border_conteiner_1 {
    text-decoration: none; 
    color: inherit; 
}

/**** #2 ****/

.border_conteiner_2{
    border-right: 8px solid #3FD087; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_2:hover{
    background-color: #3FD087;
}
a.border_conteiner_2:hover {
    color: inherit; 
}
a.border_conteiner_2 {
    text-decoration: none; 
    color: inherit; 
}

/**** #3 ****/

.border_conteiner_3{
    border-right: 8px solid #e07885; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_3:hover{
    background-color: #e07885;
}
a.border_conteiner_3:hover {
    color: inherit; 
}
a.border_conteiner_3 {
    text-decoration: none; 
    color: inherit; 
}

/**** #4 ****/

.border_conteiner_4{
    border-right: 8px solid #F5BE2C; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_4:hover{
    background-color: #F5BE2C;
}
a.border_conteiner_4:hover {
    color: inherit; 
}
a.border_conteiner_4 {
    text-decoration: none; 
    color: inherit; 
}

/**** #5 ****/

.border_conteiner_5{
    border-right: 8px solid #E53C35; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_5:hover{
    background-color: #E53C35;
}
a.border_conteiner_5:hover {
    color: inherit; 
}
a.border_conteiner_5 {
    text-decoration: none; 
    color: inherit; 
}

/**** #6 ****/

.border_conteiner_6{
    border-right: 8px solid #cac4e1; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;
}
.border_conteiner_6:hover{
    background-color: #cac4e1;
}
a.border_conteiner_6:hover {
    color: inherit; 
}
a.border_conteiner_6 {
    text-decoration: none; 
    color: inherit; 
}

/**** #7 ****/

.border_conteiner_7{
    border-right: 8px solid #7BCAC8; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;

}
.border_conteiner_7:hover{
    background-color: #7BCAC8;
}
a.border_conteiner_7:hover {
    color: inherit; 
}
a.border_conteiner_7 {
    text-decoration: none; 
    color: inherit; 
}

/**** #8 ****/

.border_conteiner_8{
    border-right: 8px solid #aea99d; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;

}
.border_conteiner_8:hover{
    background-color: #aea99d;
}
a.border_conteiner_8:hover {
    color: inherit; 
}
a.border_conteiner_8 {
    text-decoration: none; 
    color: inherit; 
}

/**** #9 ****/

.border_conteiner_9{
    border-right: 8px solid #66dc6b; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;

}
.border_conteiner_9:hover{
    background-color: #66dc6b;
}
a.border_conteiner_9:hover {
    color: inherit; 
}
a.border_conteiner_9 {
    text-decoration: none; 
    color: inherit; 
}

/**** #10 ****/

.border_conteiner_10{
    border-right: 8px solid #ef7f31; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;

}
.border_conteiner_10:hover{
    background-color: #ef7f31;
}
a.border_conteiner_10:hover {
    color: inherit; 
}
a.border_conteiner_10 {
    text-decoration: none; 
    color: inherit; 
}

/**** #11 ****/

.border_conteiner_11{
    border-right: 8px solid #2c6967; 
    padding-right: 20px; 
    flex: 1 0 30%; 
    box-sizing: border-box;
    margin: 20px; 
    min-width: 200px;

}
.border_conteiner_11:hover{
    background-color: #2c6967;
}
a.border_conteiner_11:hover {
    color: inherit; 
}
a.border_conteiner_11{
    text-decoration: none; 
    color: inherit; 
}

/**********/


.inner_container{

    margin-right: 20px;
    margin-left: 5px;

}

.headline_style_list_1{
    margin-top: 5px;
    font-size: 25px;
    line-height: 1.2;
    font-family: 'SimplerPro-bold';
}

.text_style_list_1{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular';
    margin-bottom: 5px;
} 

.lower-asterisk{
    /* position */
    position: relative;
    top: 5px; 
}

/***********/
/* article */
/***********/

.main{
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 500px;

    z-index: 2;

    width: 75%; 

}



.main_section_container{
    margin-top: -30px;
    margin-right: 12%;
}

.main_section_text_container{    
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex; 
}

.main_section_headline_container{
    margin-bottom: -20px;
    margin-right: 18%;  
}

.main_section_headline_container h3{    
    /* text style */
    font-family: 'SimplerPro-semi-bold';
    font-size: 25px;
    line-height: 1;
}

.main_section_headline_container h4{    
    /* text style */
    font-family: 'SimplerPro-regular-italic';
    font-size: 20px;
    margin-top: -15px;
    margin-right: 70px;
}
.bullet {
    position: relative;
    font-family: 'Frankg-regular';
    font-size: 45px;
    top: 13px;
}


.text_container {
    border-right: 8px solid black; 
    margin-right: 0px;      

    flex-basis: 70%;
}

.main_text{
    background-color: #3FD087;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_masa{
    background-color: #F5BE2C;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_lists{
    background-color: #E53C35;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_bidayon{
    background-color: #7BCAC8;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_about{
    background-color: #DF906F;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_kol{
    background-color: #B690CF;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_open{
    background-color: #d4ef89;
    margin-right: 20px;    
    padding: 25px;  
}


.side_note_container{
    padding: 25px;  
    flex-basis: 20%;
}


/*****************/
/* micro article */
/*****************/

.regular{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular';
    margin-bottom: 10px;
    margin-top: 0px;
}

.quote{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular-italic';

    /* position */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.notes_heb{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'SimplerPro-light';
    margin-bottom: 7px;
    margin-top: 0px;
}

.notes_en{
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'SimplerPro-light';
    margin-bottom: 5px;
    margin-top: 0px;
}

.img_text{    
    /* text style */
    font-size: 12px;
    line-height: 1.5;
    font-family: 'SimplerPro-light-italic';

    margin-top: -25px;
}

.quate_mark{    
    /* text style */
    font-family: 'SimplerPro-bold';
}

.quote_small{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular-italic';

    /* position */
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quote_arabic{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular';

    /* position */
    margin-bottom: 20px;
    margin-top: 20px; 
}

.text_name{    
    /* text style */
    font-family: 'SimplerPro-regular-italic';
}


.side_note_mark{    
    /* text style */
    font-family: 'SimplerPro-light-italic';
    font-size: 10px;

    /* position */
    position: relative;
    top: -5px; }

    .side_notes p{    
    /* text style */

    font-size: 14px;    
    line-height: 1.5;
    opacity: 0.8;
    text-align: left;

    /* position */
    /* margin-bottom: 20px; */
    margin-top: 0px;
}

.num {
    font-family: 'SimplerPro-light';
    margin-bottom: 0px;
}

.text {
    font-family: 'SimplerPro-light-italic';
    margin-bottom: 20px;
}

.underline{
    text-decoration:underline;
}

.name{
    font-family:'Frankg-bold';
    font-size: 20px;
}

.transparent-text {
    opacity: 0%;
    margin-top: -20px;
}

.transparent_list-text {
    color: #E53C35;
    line-height: 0.00001px;
    margin-top: -20px;
    opacity: 0%;
}

.article_img{
    width: 130%; 
    margin-right: -25px;
}


/********************/
/* small side-notes */
/********************/

/* Styles for the side notes */
.sidenote-container {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; 
    padding-left: 10px;
    padding-right: 10px;
}

.sidenote-content {
    color: black;

    font-family: 'SimplerPro-light-italic';

    font-size: 14px;    
    line-height: 1.5;
    opacity: 0.8;
}

/******************/
/* responsiveness */
/******************/


/* Media query for small screens */
@media (max-width: 1150px) {
    .main {
        /* margin-top: 37vw; */
        width: 100%; 
        align-items: flex-end; 
        margin-right: -10%;
    }

    .main_auther {
        width: 450px; 
    }

    .main_auther_column {
        width: 300px; 
    }

    .headline_container h1{
        font-size: 8.5vw; /* Adjust font size for smaller screens */;
    }   
}


@media (max-width: 850px) {
    /* side notes */
    .main_section_text_container .side_note_container{
        display: none;
    }
    .main_section_text_container .text_container{
        flex-grow: 1; 
        margin-right: 10px;
    }
    .side_note_mark {
        cursor: pointer;
        color: #EBEBEB;
    }

    /* text  */
    .main_section_headline_container{
        margin-right: 0%;  
    }

    .logo_container {
        display: none;
    }

    .click_logo_container {
        width: 100px;
        display: inline-block; 
        background-color: #EBEBEB; 
    }

    .links_container {
        display: none;

    }
    .click_logo_container.menu_visible {
        width: 180px; 
    }

    .open.menu_visible {
        margin-right: 130px;
    }

    .links_container.menu_visible {
        display: block; 
        background-color: #EBEBEB; 
        z-index: 100;
        width: 180px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .main_list_1{
        width: 100% -10px; 
        margin-right: 10px;
    }
}

@media (max-width: 700px) {
    .main_list_1{
        flex-direction: column;
    }
}

@media (max-width: 505px) {
    .main_auther {    
        width: 220px; 
    }

    .regular{
        font-size: 16px;
    }

    .quote{
        font-size: 16px;
    }
    .main{
        margin-right: 0%; 
    }

    .main_section_container{
        margin-right: 0%; 
    }
    .main_section_headline_container{
        margin-right: 0%;  
    }

    .click_logo_container{
        width: 80px;
    }

    .logo{
        width: 80px;
    }

    .open{
        width: 35px;
        margin-right: 3px;
    }

    .main_list_1{
        width: 100%; 
        margin-right: 0px;
    }
}

@media (max-width: 440px) {
    .click_logo_container{
        width: 70px;
    }
    
    .logo{
        width: 70px;
    }
    
    .open{
        width: 25px;
        margin-right: 3px;
    }
}


