
.html, body {
        background-color: #EBEBEB; 
        /* background-color: #39EAAA; */
}

/*********/
/* fonts */
/*********/

/* simpler pro */
@font-face {
    font-family: 'SimplerPro-black-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-BlackItalic.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-bold';
    src: url("assets/fonts/SimplerPro/SimplerPro-Bold.woff2") format("woff2");    
}

@font-face {
    font-family: 'SimplerPro-regular';
    src: url("assets/fonts/SimplerPro/SimplerPro-Regular.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-regular-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-RegularItalic.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-semi-bold';
    src: url("assets/fonts/SimplerPro/SimplerPro-Semibold.woff2") format("woff2");   
}

@font-face {
    font-family: 'SimplerPro-light-italic';
    src: url("assets/fonts/SimplerPro/SimplerPro-LightItalic.woff2") format("woff2");  
}


/* frankG */
@font-face {
    font-family: 'Frankg-regular';
    src: url("assets/fonts/FrankG/FrankG-Regular.woff2") format("woff2"); 
}

/************/
/* side bar */
/************/

.sidebar_container {
    position: fixed;
    width: 230px; 
    min-width: 150px; 
    padding: 10px;

    z-index: 3;
}

.logo {
    width: 50%; 
}

.menu_link_list {
    list-style-type: none; 
    padding: 0;
}

.menu_link {
    padding-right: 0;

    /* general text thing */
    color: black;
    text-decoration: none;

    /* text style */
    font-family: 'SimplerPro-regular';
    font-size: 18px;
    line-height: 1.7;
}

.menu_link:hover {
    text-decoration: underline;
}

.menu_link.bold {
    font-family: 'SimplerPro-black-italic';
}

.extra_content, .nested_content {
    display: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.nested_content {
    margin-right: 20px;
    margin-bottom: 5px;
}

.nested_content li {
    margin-bottom: 5px;
    margin-top: 5px;
}


.click_logo_container{
    width: 0px;
    display: none;
}

/**************/
/* bg (title) */
/**************/

.headline_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%; /* Occupy full width of the viewport */
    max-width: 1200px; /* Limit maximum width to 1000px */
    min-width: 600px; /* Set a minimum width */
    padding: 20px;
    z-index: 2;
}

.main_auther {
    align-self: flex-end;

    width: 250px; 
    min-width: 200px; 
    padding: 20px;
    left: 0;
}

.auther_headline{
    /* text style */

    font-family: 'SimplerPro-semi-bold';
    font-size: 25px;
    line-height: 1;

    margin: 0px;
}

.auther_text{
    /* text style */
    font-family: 'SimplerPro-light-italic';
    font-size: 15px;
    line-height: 1.2;

    margin-top: 5px;
}

.headline_container h1 {
    font-family: 'Frankg-regular';
    font-size: 7.5vw; /* Responsive font size based on viewport width */
    text-align: left;
    font-weight: 100;
    line-height: 0.9;
    margin-bottom: 0;
    margin-top: 0;
}

/***********/
/* article */
/***********/

.main{
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 1vw;

    z-index: 2;

    width: 75%; 

}


.main_section_container{
    margin-top: -30px;
    margin-right: 12%;
}

.main_section_text_container{    
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex; 
}

.main_section_headline_container{
    margin-bottom: -20px;
    margin-right: 18%;  
}

.main_section_headline_container h3{    
    /* text style */
    font-family: 'SimplerPro-semi-bold';
    font-size: 25px;
    line-height: 1;
}

.bullet {
    position: relative;
    font-family: 'Frankg-regular';
    font-size: 45px;
    top: 13px;
}


.text_container {
    border-right: 8px solid black; 
    margin-right: 0px;      

    flex-basis: 70%;
}

.main_text{
    background-color: #3FD087;
    margin-right: 20px;    
    padding: 25px;  
}

.main_text_masa{
    background-color: #F5BE2C;
    margin-right: 20px;    
    padding: 25px;  
}

.side_note_container{
    padding: 25px;  

    flex-basis: 20%;
}


/*****************/
/* micro article */
/*****************/

.regular{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular';
    margin-bottom: 10px;
    margin-top: 0px;
}

.quote{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular-italic';

    /* position */
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img_text{    
    /* text style */
    font-size: 12px;
    line-height: 1.5;
    font-family: 'SimplerPro-light-italic';

    margin-top: -25px;
}



.quate_mark{    
    /* text style */
    font-family: 'SimplerPro-bold';
}

.quote_small{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular-italic';

    /* position */
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quote_arabic{    
    /* text style */
    font-size: 18px;
    line-height: 1.5;
    font-family: 'SimplerPro-regular';

    /* position */
    margin-bottom: 20px;
    margin-top: 20px; 
}

.text_name{    
    /* text style */
    font-family: 'SimplerPro-regular-italic';
}


.side_note_mark{    
    /* text style */
    font-family: 'SimplerPro-light-italic';
    font-size: 10px;

    /* position */
    position: relative;
    top: -5px; }

.side_notes p{    
    /* text style */

    font-size: 14px;    
    line-height: 1.5;
    opacity: 0.8;
    text-align: left;

    /* position */
    /* margin-bottom: 20px; */
    margin-top: 0px;
}

.num {
    font-family: 'SimplerPro-light';
    margin-bottom: 0px;
}

.text {
    font-family: 'SimplerPro-light-italic';
    margin-bottom: 20px;
}

.transparent-text {
    color: #EBEBEB;
}

.article_img{
    width: 130%; 
    margin-right: -25px;
}


/********************/
/* small side-notes */
/********************/

/* Styles for the side notes */
.sidenote-container {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; 
    padding-left: 10px;
    padding-right: 10px;
}

.sidenote-content {
    color: black;

    font-family: 'SimplerPro-light-italic';

    font-size: 14px;    
    line-height: 1.5;
    opacity: 0.8;
}



/* Media query for small screens */
@media (max-width: 1100px) {
    .main {
        /* margin-top: 100px; */
        width: 100%; 
        align-items: flex-end; 
        margin-right: -10%;
    }

    .main_auther {
        width: 450px; 
    }
}

@media (max-width: 850px) {
    /* side notes */
    .main_section_text_container .side_note_container{
        display: none;
    }
    .main_section_text_container .text_container{
        flex-grow: 1; 
        margin-right: 10px;
    }
    .side_note_mark {
        cursor: pointer;
        color: #EBEBEB;
    }

    /* text  */
    .main_section_headline_container{
        margin-right: 0%;  
    }

    /* menu */
    .click_logo_container{
        display: inline;
    }
    .logo_container{
        display: none;
    }

}

@media (max-width: 505px) {
    .main_auther {    
        width: 220px; 
    }

    .regular{
        font-size: 16px;
    }

    .quote{
        font-size: 16px;
    }
    .main{
        width: 110%;
    }
    .main_section_headline_container{
        margin-right: 0%;  
    }
}

